* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-family-default;
    font-size: $font-size-default;
}

body {
    position: relative;
    background-color: var(--bg-color);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30vh;
        border-radius: 0 0 20px 20px;
        background-color: var(--bg-top-color);
        z-index: -1;
    }
}

.wrapper {
    margin: 0 auto;
    padding: 35px 25px;
    max-width: 1200px;
    min-height: 95vh;
}

.attribution {
    text-align: center;
}